/*==  Tiny Screen  ==*/
@media only screen and (min-width: 0) {
    .form-contact {
        max-width: 26rem;
        margin: 0 auto; 
    }
    .form-field {
        margin-bottom: 1rem;
    }
    .form-field:last-of-type {
        margin-bottom: 0;
    }

    .form-label {
        display: block;
        font-size: 1rem;
        font-weight: 600;
        padding: .2rem;
    }

    .form-input,
    .form-textarea {
        font-size: 1rem;
        width: 100%;
        border: none;
        border-radius: .2rem;
        transition: .3s all ease;
    }
    .form-input {
        min-height: 3rem;
        padding: 1rem;
    }
    .form-textarea {
        min-height: 5rem;
        padding: 0.625rem;
    }
    .form-input:focus,
    .form-input:focus-visible,
    .form-textarea:focus,
    .form-textarea:focus-visible {
        border: none;
        outline: none;
    }

    .form-button {
        text-align: left;
        width: 100%;
        margin-top: 0.625rem;
        height: 3.75rem;
    }

    /*=== Specifc Colour Styling ===*/
    .portfolio-wrapper .form-input,
    .portfolio-wrapper .form-textarea {
        background-color: #303030;
    }
    .portfolio-wrapper .form-input:focus,
    .portfolio-wrapper .form-input:focus-visible,
    .portfolio-wrapper .form-textarea:focus,
    .portfolio-wrapper .form-textarea:focus-visible {
        background-color: #505050;
    }
}