
.glyphicon--with-text {
    margin-left: 8px;
}

.employeetable-wrapper {
    color: #FFF;
    background-color: #0B132B;
    min-height: 100vh;
}


/*== CSS Imports ==*/
@import url('./nav-bar.css');
@import url('./table.css');
@import url('./modal.css');