/*  Most of this CSS is taken from elsewhere to save time.  */
.employee-modal-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 200ms;
}
.employee-modal-overlay .modal-outside-close {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
}
.employee-modal-overlay:target {
    visibility: visible;
    opacity: 1;
}
.employee-modal {
    color: #0B132B;
    margin: 8rem auto;
    background: #fff;
    border: 1px solid #FFF;
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    position: relative;
}
.employee-modal__heading-wrapper {
    padding: 1rem 2rem;
}
.employee-modal__content {
    color: #FFF;
    background-color: #0B132B;
    padding: 1.4rem;
}
.employee-modal p {
    margin: 0 0 1em;
    text-align: center;
}
.employee-modal__close {
    position: absolute;
    width: 46px;
    right: 12px;
    top: 8px;
}