.glyphicon-white {
    color: #FFF;
}
.glyphicon-black {
    color: #333;
}
.glyphicon--with-text {
    margin-left: 8px;
}

.heading {
    margin-bottom: 20px;
    font-weight: 600;
}

.heading--large {
    font-size: 32px;
}

.heading--default {
    font-size: 24px;
}

.heading--flush {
    margin: 0;
}

.button {
    font-size: 14px;
    font-weight: 800;
    
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0px rgb(211, 211, 211);
    transition: .2s;
}
.button:hover {
    -webkit-transform: translateY(-1px);
	transform: translateY(-1px);
}
.button:active {
    box-shadow: none;
    -webkit-transform: translateY(1px);
	transform: translateY(1px);
}
.button--primary {
    color: #FFF;
    background-color: #333;
}
.button--cta {
    color: #FFF;
    background-color: #0eaf74;
}
.button--large {
    min-height: 50px;
    padding: 10px 24px;
}
.button--default {
    min-height: 45px;
    padding: 8px 24px;
}
.button--small {
    min-height: 40px;
    padding: 6px 16px;
}
.button--icon-only {
    color: #333;
    background-color: transparent;
    font-size: 16px;
    box-shadow: none;
    padding: 4px 12px;
    border-radius: 100%;
}
.button--icon-only:hover {
    -webkit-transform: translateY(0px);
	transform: translateY(0px);
    background-color: #d1d1d1;
}
.button--icon-only:active {
    background-color: #b1b1b1;
}

.heading {
    margin-top: 0;
}

.heading-button-row {
    display: flex;
        justify-content: space-between;
        align-items: center;
    width: 100%;
}