* {
  margin: 0;
  padding: 0;
}

body {
  color: #3F1808;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.u-text-status--familiar {
  color: #B34212;
}

/*== CSS Imports ==*/
@import url('./base.css');
@import url('./nav-bar.css');
@import url('./table.css');