/*==  Tiny Screen  ==*/
@media only screen and (min-width: 0) {
    .landing-banner {
        display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        max-width: 23.75rem;
        height: 74vh;
        margin: 0 auto;
    }
}

/*==  Small Mobile Screen  ==*/
@media only screen and (min-width: 400px) {
}

/*== Medium Mobile Screen ==*/
@media only screen and (min-width: 640px) {
}

/*== Landscape Tablets / Small Desktop Browser Window ==*/
@media only screen and (min-width: 768px) {
    .landing-banner {
        justify-content: space-around;
        max-width: 41.25rem;
    }
}